@import url('https://fonts.googleapis.com/css2?family=Carme&family=Doto:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Carme", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(23, 23, 23);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    color: #daf75b;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    font-weight: 400;
}

.moedas {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.moedas img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.moedas span {
    position: absolute;
    top: 50%; /*colocar o span centralizado*/
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: none;
}

#moeda-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.moedas img:hover {
    filter: grayscale(5);
    opacity: 0.4;
}

.moedas.selecionado img {
    filter: grayscale(100%) brightness(0.55);
}

#inserir {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#dinheiro {
    height: 2rem;
    border-radius: 6px;
    text-align: center;
}

small {
    color: #daf75bc6;
    padding-top: 5px;
    font-size: 11px;
}

#resultado {
    padding-top: 20px;
    color: #daf75b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#reloadPage{
    padding-top: 8px;
    cursor: pointer;
    font-size: 25px;
    display: none;
}