* {
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.form-group {
    padding: 10px;
}

label {
    font-weight: 600;
}