@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Host Grotesk", sans-serif;
}

body {
    background-color: #D0CEF3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#num {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

input#numero {
    border-radius: 10px;
    text-align: center;
    padding: 4px;
    border-color: black !important;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#inicio, #tabuada {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    padding: 4px;
    border-radius: 10px;
    font-weight: 500;
    border: 2px solid rgb(0, 0, 0);
    background-color: black;
    color: beige;
}

button:hover {
    background-color: #9a96e8;
    color: beige;
}

li {
    list-style-type: none;;
}

#resultado {
    padding-bottom: 5px;
}

#resultadoTabuada {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

#botaoVoltar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 23px;
    width: 23px;
    border-radius: 50%;
}

small#aviso {
    color: #cf6060;
    font-size: 13px;
    display: none; 
}
